<!DOCTYPE html>
{% load static %}
<html lang="ru">
	<head>
    	<meta charset="UTF-8">
    	<title>Конвертация файлов FIT</title>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
	</head>
    <body class="center">
        <form method="post" enctype="multipart/form-data" action="/">
            {% csrf_token %}
            <div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Выберите формат для конвертации</option>
                        <option name="format" value="1">CSV</option>
                        <option name="format" value="2">XLSX</option>
                </select>
            </div>
            <div>
            <h5>Выберете необходимые сообщения:</h5>
                <label><input type="checkbox" name="fit_messages" value="record">Запись</label><br>
                <label><input type="checkbox" name="fit_messages" value="lap">Круг</label><br>
                <label><input type="checkbox" name="fit_messages" value="event">Событие</label>
            </div>

        </form>
    </body>
</html>